drft_workflow.json
{
  "name": "drft - AI Playlist Muse",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drft",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        64
      ],
      "id": "5aae8e6d-fee4-4f80-8139-d2137f3471c7",
      "name": "Prompt Webhook",
      "webhookId": "d8335cdf-c8dc-4c4d-8734-3e7dcfe14969"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        224
      ],
      "id": "63aa7682-c708-41a8-8cc1-a48a49b17b4d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OHRydWh4llHrjQVf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "506cac63-724f-486d-bcf3-4f83ba5647fd",
              "name": "playlistName",
              "value": "={{ $json.output.playlistName }}",
              "type": "string"
            },
            {
              "id": "b1d7a4d2-6cb1-4233-899c-e1de54fe8074",
              "name": "playlistDescription",
              "value": "={{ $json.output.playlistDescription }}",
              "type": "string"
            },
            {
              "id": "4cd9c3bf-15b0-4de2-b75d-2f7ded29f4d8",
              "name": "searchQueries",
              "value": "={{ $json.output.searchQueries }}",
              "type": "array"
            },
            {
              "id": "0a59e065-76bf-408a-98ad-77e4e61a790f",
              "name": "audioFeatures",
              "value": "={{ $json.output.audioFeatures }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        64
      ],
      "id": "d2187f50-85d8-4ba7-aa65-e20a79d51a21",
      "name": "Prepare Data",
      "executeOnce": false,
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.searchQuery }}",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        672,
        64
      ],
      "id": "29acc92d-c001-4dd0-80af-9d90faef5add",
      "name": "Search tracks by keyword",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "BcTgR1zpaNtfrJSf",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allTracks = $input.all();\nconst uniqueTrackIds = new Set();\n\nallTracks.forEach(item => {\n  if (item.json.id) {\n    uniqueTrackIds.add(item.json.id);\n  }\n});\n\nreturn Array.from(uniqueTrackIds).map(trackId => ({ json: { trackId } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "820452fe-9a7a-4892-9ec5-2f79d8458099",
      "name": "Deduplicate Tracks"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Music Muse. Your task is to analyze a user's mood or prompt and translate it into a structured JSON object for creating a Spotify playlist.\n\nThe user's prompt is: \"{{ $json.body.prompt }}\"\n\nBased on this prompt, you MUST generate a JSON object with the following structure:\n1.  `playlistName`: A creative, short name for the playlist.\n2.  `playlistDescription`: A one-sentence description capturing the vibe.\n3.  `searchQueries`: An array of 5 diverse search queries for Spotify.\n\nIMPORTANT: Do not wrap the JSON output in backticks or the word \"json\". Your entire response must be only the raw JSON object, starting with `{` and ending with `}`.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -32,
        64
      ],
      "id": "5fa256a4-4ac1-4ab6-bdda-b71c8b176a31",
      "name": "The Muse"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"Your playlist has been created!\",\n\n  \"playlist\": {\n    \"id\": \"{{ $json.data.id }}\",\n    \"name\": \"{{ $json.data.name }}\",\n    \"url\": \"{{ $json.data.external_urls.spotify }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        64
      ],
      "id": "c6af7ba7-5c4d-4935-b591-91a40aa09aa7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"playlistName\": \"Sunset Desert Drive\",\n  \"playlistDescription\": \"A playlist for driving through the desert at sunset with the windows down, feeling free.\",\n  \"searchQueries\": [\n    \"desert rock\",\n    \"stoner rock essentials\",\n    \"windows down anthems\",\n    \"sunset driving playlist\",\n    \"Queens of the Stone Age radio\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        224
      ],
      "id": "3e3cff75-263a-41a0-9cac-0e0a653989b3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "searchQueries",
        "options": {
          "destinationFieldName": "searchQuery"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        64
      ],
      "id": "2435ced2-a4fa-47a5-8c48-85a02d68eab0",
      "name": "Split Search Queries"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        64
      ],
      "id": "ae68ea87-5c0a-4dc5-b9e9-3ce798526af5",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "create",
        "name": "={{ $('Prepare Data').first().json.playlistName }}",
        "additionalFields": {
          "description": "={{ $('Prepare Data').first().json.playlistDescription }}"
        }
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        896,
        240
      ],
      "id": "d7415e1b-3dfe-4f48-b6d6-5ed39385a9a3",
      "name": "Create Playlist",
      "executeOnce": true,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "BcTgR1zpaNtfrJSf",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "={{ $('Create Playlist').first().json.id }}",
        "trackID": "=spotify:track:{{ $json.trackId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1328,
        64
      ],
      "id": "7c47cf75-6913-4a9e-be54-029628aaa894",
      "name": "Add Songs",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "BcTgR1zpaNtfrJSf",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9147785-1cf2-4719-9da2-3709d6cc2f2f",
              "name": "data",
              "value": "={{ $('Create Playlist').first().json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        64
      ],
      "id": "bd687a24-dcd8-4ca2-ba54-c6e63da9b6ff",
      "name": "Playlist Details"
    }
  ],
  "pinData": {},
  "connections": {
    "Prompt Webhook": {
      "main": [
        [
          {
            "node": "The Muse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "The Muse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Split Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search tracks by keyword": {
      "main": [
        [
          {
            "node": "Deduplicate Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Tracks": {
      "main": [
        [
          {
            "node": "Create Playlist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Muse": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "The Muse",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Search Queries": {
      "main": [
        [
          {
            "node": "Search tracks by keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add Songs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Playlist": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Add Songs": {
      "main": [
        [
          {
            "node": "Playlist Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Playlist Details": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a4f7d33-0618-47ab-931d-b6afd832cd21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ca7622c186988ccda0dac864b90fcbe393f32b69bfb0060ead5b2ba90dd8042"
  },
  "id": "UePpaku1sel1paIM",
  "tags": []
}